<%- include('partials/header') %> 

<h1>Contact</h1>
<br>

<form action="/contact" method="post">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Type your message here" name="message"></textarea>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Send</button>
</form>

<%- include('partials/footer') %> 
